<?php

/**
 * Development-Only Browser Testing
 */

require_once __DIR__ . '/vendor/autoload.php';

$whoops = new Whoops\Run;
$whoops->pushHandler(new \Whoops\Handler\PrettyPageHandler);
$whoops->register();

$clientId = '';
$client = new \Phextopia\Client($clientId);

$search = new \Phextopia\Search($client);
//$page = new Phextopia\PageBuilder($client);

$result = $search->find('shirt');

dump(json_decode($result));

